<div class="container">
        <div class="jumbotron mt-3">
            <h1>Send Qr code and validate</h1>
            <a class="btn btn-lg btn-primary" href="/Utxc/SendQrCode" role="button">Send Qr Code</a>
        </div>
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png' style='width: 400px;'>
    </div>


@section Scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>*@
    <script>

    </script>

} 